<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhida.business.domain.repo.MoneyRepo">
    <resultMap id="moneyRecord" type="zhida.business.domain.model.MoneyRecord">
        <result column="id" jdbcType="BIGINT" property="id"></result>
        <result column="amount" jdbcType="BIGINT" property="amount"></result>
        <result column="purpose_or_source" jdbcType="VARCHAR" property="purposeOrSource"></result>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"></result>
    </resultMap>



    <select id="getMoneyRecord" resultMap="moneyRecord">
        select * from money_record
    </select>
</mapper>

